.wrapper {
    width: min(80vw, 800px);
    height: 80vh;
    margin: 50px auto;
    border: 2px solid blue;
    border-radius: 10px;

    display: grid;
    grid-template-columns: 1fr 2fr;
}

.wrapper > h1 {
    grid-column: 1 / -1;

    text-align: center;
    background-color: aquamarine;
    margin: 0;
    padding: 20px 0;
    border-bottom: 1px solid black;
}

#projects {
    background-color: whitesmoke;
    overflow: auto;
}

#projects h2 {
    text-align: center;
    color: black;
}

#projects ul {
    list-style: none;
    padding-right: 40px;
}

#projects li {
    margin: 0;
    padding: 5px 0;
    font-size: 1.2rem;
    cursor: pointer;
    border-bottom: 1px dashed black;
}

#projects li:hover {
    background-color: aquamarine;
}

#projects li.active {
    color: blue;
    font-weight: bold;
}

#todo-list {
    border-bottom: 1px solid gray;
    overflow: auto;
}

.todo {
    border-bottom: 1px solid brown;
}

.todo .title {
    font-weight: bold;
}

.todo .duedate {
    color: green;
}