button {
    padding: 10px 20px; 
    font-weight: bold;
    border: none;
    border-radius: 5px;
    color: white;
    transition: background-color .2s;
}

button:hover {
    cursor: pointer;
}

button.primary {
    background-color: cornflowerblue;
}

button.primary:hover {
    background-color: blueviolet;
}

button.secondary {
    background-color: darkgray;
}

button.secondary:hover {
    background-color: gray;
}

button.danger {
    background-color: red;
}

button.danger:hover {
    background-color: darkred;
}

.wrapper {
    width: min(80vw, 800px);
    height: 80vh;
    margin: 50px auto;
    box-shadow: 0px 0px 5px blue;
    position: relative;

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2fr 1fr 8fr;
}

.wrapper > h1 {
    grid-column: 1 / -1;

    text-align: center;
    background-color: lightblue;
    color: yellow;
    margin: 0;
    padding: 20px 0;
    border-bottom: 1px solid black;
}

.wrapper > .buttons {
    grid-column: 1 / -1;

    text-align: right;
    padding: 10px;
    box-shadow: 0px 2px green;
}

#projects {
    overflow: auto;
    padding-left: 10px;
    background-color: aqua;
    border: 1px solid brown;
}

#projects h2 {
    color: black;
}

#projects ul {
    list-style: none;
    padding-left: 30px;
    padding-right: 40px;
}

#projects li {
    margin: 0;
    padding: 5px 0;
    font-size: 1.2rem;
    cursor: pointer;
    border-bottom: 1px dashed black;
}

#projects li:hover {
    background-color: aquamarine;
}

#projects li.active {
    color: blue;
    font-weight: bold;
}

main {
    overflow: auto;
}

main > h2 {
    margin-bottom: 0;
    padding-bottom: 10px;
    text-align: center;
    color: brown;
    border-bottom: 1px solid brown;
}

main .projectName {
    color: blue;
}

.taskList {
    padding: 0 20px;
}

.taskList > h3 {
    text-align: center;
    font-size: 1.2rem;
    background-color: cyan;
    padding: 5px 0;
}

.task {
    border-bottom: 1px dotted brown;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.task .text p {
    margin: 0;
}

.task .title {
    font-weight: bold;
}

.task .duedate {
    color: green;
}

.task .buttons {
    display: flex;
    gap: 5px;
}

.blur {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: rgba(0, 0, 0, 0.8);

    display: none;
    justify-content: center;
    align-items: center;
}

form {
    padding: 20px;
    border-radius: 10px;
    width: 75%;
    background-color: white;
}

form h2 {
    color: blue;
    text-align: center;
    margin-top: 0;
    border-bottom: 1px solid blue;
}

.form-group {
    display: flex;
    align-items: flex-start;
    gap: 10px;

    margin-bottom: 20px;
}

.form-group > label {
    width: 150px;
    text-align: right;

    font-weight: bold;
    font-size: 1.1rem;
}

.form-group .radio-group {
    display: flex;
    align-items: center;
}

form input {
    border: 1px solid blue;
    height: 25px;
    padding: 0 5px;
    border-radius: 5px;

    flex-grow: 1;
}

form select {
    border: 1px solid blue;
    background-color: white;
    height: 20px;
    padding: 0 5px;
    border-radius: 5px;

    flex-grow: 1;
}

form textarea {
    border: 1px solid blue;
    padding: 5px;
    border-radius: 5px;
    resize: none;

    flex-grow: 1;
}

form .buttons {
    text-align: right;
    margin-top: 20px;
}

button[data-function="addTask"] {
    display: none;
}

button[data-function="updateTask"] {
    display: none;
}